<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/page">

<head>
	<title>Resources</title>
</head>

<body>
	<div data-layout-fragment="content">
		<div class="row">
			<div class="col-12">
				<h1 class="my-5">Resources</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>
					<strong>TenderBase</strong> is an online procurement platform that allows access to
					<a href="http://ted.europa.eu/" target="_blank">TED tender data</a> in OCDS format. Our aim is to support the work of those processing or controlling procurement data
					in the CEE region.
				</p>
				<div class="my-5 text-center">
					<img src="http://via.placeholder.com/560x315" alt="Video placeholder" width="560" height="315">
				</div>
				<p>
					<strong>TenderBase</strong> was created within the
					<a href="https://transparencee.org/" target="_blank">TransparenCEE Network</a> by
					<a href="http://k-monitor.hu/" target="_blank">K-Monitor</a> and
					<a href="http://www.deepdata.hu/" target="_blank">DeepData Ltd</a>, with the contribution of
					<a href="https://www.techsoup.org/" target="_blank">TechSoup</a> and
					<a href="https://epf.org.pl/" target="_blank">ePanstwo Foundation</a>.
				</p>
				<p>
					Find out more about OCDS at
					<a href="https://www.open-contracting.org/" target="_blank">Open Contracting Partnership</a>.
				</p>
				<p>
					Check further projects of
					<a href="https://transparencee.org/" target="_blank">TrancparenCEE</a> here.
				</p>
				<p>
					Get in touch with us <a href="mailto:info@k-monitor.hu">here</a>.
				</p>
			</div>
		</div>
	</div>
</body>

</html>